<section>
    <div class="userlist">
    <h1>users </h1>
    <div class="users">
       <% users.map(x=>{ %>
        <h2>Name:<%= x.name %> </h2>
        <h4>Id:<%= x.id %> </h4>
        <% }) %>
    </div>
</div>
<div class="booklist">
    <h1>Books </h1>
    <div class="books">
        <% books.map(y=>{ %>
        <img src=<%= y.thumbnailUrl %> width="200px" alt="">
        <h1>Title:<%= y.title %> </h1>
        <% }) %>
    </div>
</div>
</section>